<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>UE206 - S2 Parcours 1</title>
		<link rel="stylesheet" type="text/css" href="./../assets/css/style.css">
	</head>
	
<body>  
		
	<header id="header">
        
        <nav class="top-nav">
            <ul class="top-nav-list">
                <li class="top-nav-item">
                    <a href="#" class="top-nav-link" title="Offres">Offres</a>
                </li>
                <li class="top-nav-item">
                    <a href="#" class="top-nav-link" title="Entreprises">Entreprises</a>
                </li>
                <li class="top-nav-item">
                    <a href="#" class="top-nav-link" title="Utilitaires">Utilitaires</a>
                </li>
                <li class="top-nav-item">
                    <a href="#" class="top-nav-link" title="Occasions">Occasions</a>
                </li>                 				
            </ul><!-- eof .top-nav-list -->	
         </nav><!-- eof .header-nav -->	
        
		<div class="row align-center">
			
			<div class="header-logo">
				<h1>
                    <img src="./../assets/images/logo.png" alt="Ford" class="header-logo-img">
                </h1>
			</div><!-- eof .header-logo -->
			
            <nav class="header-nav">
                <ul class="header-nav-list">
                    <li class="header-nav-item">
                        <a href="#" class="header-nav-link" title="Véhicules">Véhicules</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="#" class="header-nav-link" title="Achat">Achat</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="#" class="header-nav-link" title="Financement">Financement</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="#" class="header-nav-link" title="Services">Services</a>
                    </li>                                     				
                    <li class="header-nav-item">
                        <a href="./configurateur.html" class="header-nav-link" title="Configurateur">Configurateur</a>
                    </li>                                     				
                </ul>
             </nav><!-- eof .header-nav -->	
		</div><!-- eof .row -->	
	</header><!-- eof .header -->

    <div class="row">
        <ul class="column breadcrumb">
            <li class="breadcrumb-item">
                <a class="breadcrumb-link" href="../index.html" title="Page d'accueil">Accueil</a>
            </li>
            <li class="breadcrumb-item">
                <span class="breadcrumb-current" title="Configurateur">Configurateur</span>
            </li>
        </ul>
    </div>
    
    <section class="configurateur">
        <div class="row">
            <div class="column column-3 configurateur-sidebar">
                <form action="#" method="POST" class="configurateur-form">
                    <p>
                        <label for="configurateur-type">Type</label>
                        <select name="configurateur-type" id="configurateur-type">
                            <option value="">--Sélectionnez--</option>
                            <option value="particuliers">Véhicules Particuliers</option>
                            <option value="utilitaires">Véhicules Utilitaires</option>
                            <option value="citadines">Citadines</option>
                            <option value="hybrides">Hybride et électrique</option>
                            <option value="familiales">Familiales et Ludospaces</option>
                            <option value="monospaces">Monospaces</option>
                            <option value="performance">Performance</option>
                            <option value="suv">SUV</option>
                        </select>                             
                    </p>
                    
                    <p>
                        <label for="configurateur-budget">Budget maximum</label>
                        <input type="range" name="configurateur-budget" id="configurateur-budget" step="1000" min="2000" max="90000" value="2000" list="ticks">
                        <datalist id="ticks">
                            <option value="2000"></option>
                            <option value="20000"></option>
                            <option value="30000"></option>
                            <option value="40000"></option>
                            <option value="50000"></option>
                            <option value="60000"></option>
                            <option value="70000"></option> 
                            <option value="80000"></option>
                            <option value="90000"></option>
                        </datalist>
                    </p>
                    
                    <p>
                        <label for="configurateur-puissance">Puissance</label>
                        <select name="configurateur-puissance" id="configurateur-puissance">
                            <option value="">--Sélectionnez--</option>
                            <option value="92">92 kW / 125 CH</option>
                        </select>                             
                    </p>
                    
                    <p>
                        <span class="configurateur-suptitle">Couleur carosserie</span>   
                    </p>
                    <p class="configurateur-color-container">
                        <input type="radio" name="configurateur-color" id="configurateur-color-blue-abyss">
                        <label class="configurateur-color" for="configurateur-color-blue-abyss">Bleu abysse</label> 
                        
                        <input type="radio" name="configurateur-color" id="configurateur-color-corail">
                        <label class="configurateur-color" for="configurateur-color-corail">Corail</label>             
                        
                        <input type="radio" name="configurateur-color" id="configurateur-color-moutarde">
                        <label class="configurateur-color" for="configurateur-color-moutarde">Moutarde</label>                    
                        <input type="radio" name="configurateur-color" id="configurateur-color-blue-island">
                        <label class="configurateur-color" for="configurateur-color-blue-island">Bleu island</label>                    
                        
                        <input type="radio" name="configurateur-color" id="configurateur-color-red-fantastic">
                        <label class="configurateur-color" for="configurateur-color-red-fantastic">Rouge fantastic</label>
                        
                        <input type="radio" name="configurateur-color" id="configurateur-color-white-ice">
                        <label class="configurateur-color" for="configurateur-color-white-ice">Blanc glacier</label>                    
                        
                        <input type="radio" name="configurateur-color" id="configurateur-color-black">
                        <label class="configurateur-color" for="configurateur-color-black">Noir agathe</label>
                        
                    </p>
                    
                    
                </form>
            </div><!-- eof column .configurateur-sidebar -->
            
            <div class="column column-9 configurateur-result">
                <div class="row">
                    <div class="column column-6">                    
                        <div class="configurateur-preview">
                            <div class="configurateur-preview-img-container">
                                <img src="../assets/images/cars/eco-sport.jpg" class="configurateur-preview-img" alt="">
                            </div>
                            <p class="configurateur-preview-title">1.0 EcoBoost Hybrid 125 ch Powershift</p>
                                                        
                            <ul class="configurateur-preview-list">
                                <li class="configurateur-preview-item"><strong>Accélération 0-100 km/h :</strong> 9,6 secs</li>
                                <li class="configurateur-preview-item"><strong>Puissance :</strong> 92 kW / 125 CH</li>
                                <li class="configurateur-preview-item"><strong>Couple :</strong> 170 NM</li>
                                <li class="configurateur-preview-item"><strong>Crit’Air :</strong> 1*</li>
                                <li class="configurateur-preview-item"><strong>Transmission :</strong> Auto Powershift DCT</li>
                            </ul>
                            
                            <p class="configurateur-preview-price">20.000€</p>

                            <a class="configurateur-preview-link" href="#" title="Choisir ce véhicule">Choisir ce véhicule</a>
                        </div>             
                    </div>
                    
                     <div class="column column-6">                    
                        <div class="configurateur-preview">
                            <div class="configurateur-preview-img-container">
                                <img src="../assets/images/cars/eco-sport.jpg" class="configurateur-preview-img" alt="">
                            </div>
                            <p class="configurateur-preview-title">1.0 EcoBoost Hybrid 125 ch Powershift</p>
                                                        
                            <ul class="configurateur-preview-list">
                                <li class="configurateur-preview-item"><strong>Accélération 0-100 km/h :</strong> 9,6 secs</li>
                                <li class="configurateur-preview-item"><strong>Puissance :</strong> 92 kW / 125 CH</li>
                                <li class="configurateur-preview-item"><strong>Couple :</strong> 170 NM</li>
                                <li class="configurateur-preview-item"><strong>Crit’Air :</strong> 1*</li>
                                <li class="configurateur-preview-item"><strong>Transmission :</strong> Auto Powershift DCT</li>
                            </ul>
                            
                            <p class="configurateur-preview-price">20.000€</p>

                            <a class="configurateur-preview-link" href="#" title="Choisir ce véhicule">Choisir ce véhicule</a>
                        </div>             
                    </div>
                    
                     <div class="column column-6">                    
                        <div class="configurateur-preview">
                            <div class="configurateur-preview-img-container">
                                <img src="../assets/images/cars/eco-sport.jpg" class="configurateur-preview-img" alt="">
                            </div>
                            <p class="configurateur-preview-title">1.0 EcoBoost Hybrid 125 ch Powershift</p>
                                                        
                            <ul class="configurateur-preview-list">
                                <li class="configurateur-preview-item"><strong>Accélération 0-100 km/h :</strong> 9,6 secs</li>
                                <li class="configurateur-preview-item"><strong>Puissance :</strong> 92 kW / 125 CH</li>
                                <li class="configurateur-preview-item"><strong>Couple :</strong> 170 NM</li>
                                <li class="configurateur-preview-item"><strong>Crit’Air :</strong> 1*</li>
                                <li class="configurateur-preview-item"><strong>Transmission :</strong> Auto Powershift DCT</li>
                            </ul>
                            
                            <p class="configurateur-preview-price">20.000€</p>

                            <a class="configurateur-preview-link" href="#" title="Choisir ce véhicule">Choisir ce véhicule</a>
                        </div>             
                    </div>
                    
                     <div class="column column-6">                    
                        <div class="configurateur-preview">
                            <div class="configurateur-preview-img-container">
                                <img src="../assets/images/cars/eco-sport.jpg" class="configurateur-preview-img" alt=""> 
                            </div>
                            <p class="configurateur-preview-title">1.0 EcoBoost Hybrid 125 ch Powershift</p>
                                                        
                            <ul class="configurateur-preview-list">
                                <li class="configurateur-preview-item"><strong>Accélération 0-100 km/h :</strong> 9,6 secs</li>
                                <li class="configurateur-preview-item"><strong>Puissance :</strong> 92 kW / 125 CH</li>
                                <li class="configurateur-preview-item"><strong>Couple :</strong> 170 NM</li>
                                <li class="configurateur-preview-item"><strong>Crit’Air :</strong> 1*</li>
                                <li class="configurateur-preview-item"><strong>Transmission :</strong> Auto Powershift DCT</li>
                            </ul>
                            
                            <p class="configurateur-preview-price">20.000€</p>
                            
                            <a class="configurateur-preview-link" href="#" title="Choisir ce véhicule">Choisir ce véhicule</a>
                        </div>             
                    </div>
                
                </div>
                
            </div><!-- eof column .configurateur-result -->
        </div>

    </section>
    
    
     <section class="news-list">
        <div class="presentation news-presentation">
            <div class="row justify-end">
                <h2 class="title">Actualités &amp; événements</h2>
                <p class="presentation-text">Suivez toute l'actualité de Ford</p>
                <a href="#" class="button">Toute l'actualité</a>

             </div><!-- eof .row -->	
        </div><!-- eof .presentation.presentation-contact -->
        
        <div class="row">
            <div class="column column-4">
                <article class="news">
                    <header class="news-header">
                        <img src="../assets/images/news/joyeuses-fetes.jpg" alt="titre image">                
                        <span class="news-date">20<br>Déc.</span>
                    </header>
                    <div class="news-content">
                        <h3 class="news-title">Ford vous souhaite de joyeuses fêtes de fin d'année</h3>
                        <a class="button" href="#" tile="Lire l'actualité">Lire l'actualité</a>
                    </div>                    
                </article>        
            </div>
            <div class="column column-4">
                <article class="news">
                    <header class="news-header">
                        <img src="../assets/images/news/ford-focus.jpg" alt="titre image">                
                        <span class="news-date">10<br>Déc.</span>
                    </header>
                    <div class="news-content">
                        <h3 class="news-title">Sortie de la nouvelle Ford Focus</h3>
                        <a class="button" href="#" tile="Lire l'actualité">Lire l'actualité</a>
                    </div>                    
                </article>        
            </div>
            <div class="column column-4">
                <article class="news">
                    <header class="news-header">
                        <img src="../assets/images/news/wolrd.jpg" alt="titre image">                
                        <span class="news-date">04<br>Déc.</span>
                    </header>
                    <div class="news-content">
                        <h3 class="news-title">Les 7 nouveaux véhicules connectés qui ouvrent la voie à un avenir 100% électrique en europe pour Ford</h3>
                        <a class="button" href="#" tile="Lire l'actualité">Lire l'actualité</a>
                    </div>                    
                </article>        
            </div>
        
        </div>
    </section><!-- eof .news -->
    
    <section class="contact-newsletter">
        <div class="row">
            <div class="column column-6 contact-newsletter-container">
                <h2 class="title">Recevez nos offres spéciales</h2>
                <p class="suptitle">Et restez informé(e) de nos dernières nouveautés.</p>
                <form method="post" action="#">
                    <label for="form-nl-mail">E-mail</label>
                    <input type="mail" id="form-nl-mail" name="mail" required placeholder="Saisissez votre e-mail">
                    <input class="button" type="submit" value="M'inscrire" name="submit">   
                </form>
            </div>
            <div class="column column-6">
                <h3 class="slogan">Ford<br>Go further</h3>
            </div>
        </div>
    </section><!-- eof .contact-newsletter -->
    
    
 
    
	<!-- Footer -->	
	<footer class="footer">
		<nav class="row" id="footer-sitemap">
            
            <div class="column column-3">
                <h3 class="footer-sitemap-title">Véhicules</h3>                
                <ul class="footer-sitemap-list">
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Véhicules Particuliers">Véhicules Particuliers</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Utilitaires">Utilitaires</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Citadines">Citadines</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Hybride et électrique">Hybride et électrique</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Familiales et Ludospaces">Familiales et Ludospaces</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Monospaces">Monospaces</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Performance">Performance</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="SUV">SUV</a>
                    </li>
                </ul>
            </div><!-- eof .column -->

            <div class="column column-3">
                <h3 class="footer-sitemap-title">Découvrez Ford</h3>                
                <ul class="footer-sitemap-list">
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="À propos de Ford">À propos de Ford</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="./contact.html" title="À propos de Ford">Concession Limoges</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="L’actualité Ford">L’actualité Ford</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Nous rejoindre">Nous rejoindre</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Développement durable">Développement durable</a>
                    </li>
                </ul>
            </div><!-- eof .column -->
            
            
            <div class="column column-6">
                <h3 class="footer-sitemap-title">Véhicules</h3>                
                <ul class="footer-sitemap-list">
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="EcoSport">EcoSport</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Puma">Puma</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Focus">Focus</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Kuga">Kuga</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Mustang Mach-E">Mustang Mach-E</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Explorer">Explorer</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Mustang">Mustang</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Puma ST">Puma ST</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Focus ST">Focus ST</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Ford GT">Ford GT</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Tourneo Connect">Tourneo Connect</a>
                    </li>
                </ul>
            </div><!-- eof .column -->
        </nav><!-- eof .row -->		 
	</footer><!-- eof .footer -->		
</body>
</html>