<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>UE206 - S3 Parcours 1</title>
		<link rel="stylesheet" type="text/css" href="./../assets/css/style.css">
	</head>
	
<body>  
		
	<header id="header">
        
        <nav class="top-nav">
            <ul class="top-nav-list">
                <li class="top-nav-item">
                    <a href="#" class="top-nav-link" title="Offres">Offres</a>
                </li>
                <li class="top-nav-item">
                    <a href="#" class="top-nav-link" title="Entreprises">Entreprises</a>
                </li>
                <li class="top-nav-item">
                    <a href="#" class="top-nav-link" title="Utilitaires">Utilitaires</a>
                </li>
                <li class="top-nav-item">
                    <a href="#" class="top-nav-link" title="Occasions">Occasions</a>
                </li>                 				
            </ul><!-- eof .top-nav-list -->	
         </nav><!-- eof .header-nav -->	
        
		<div class="row align-center">
			
			<div class="header-logo">
				<h1>
                    <img src="./../assets/images/logo.png" alt="Ford" class="header-logo-img">
                </h1>
			</div><!-- eof .header-logo -->
			
            <nav class="header-nav">
                <ul class="header-nav-list">
                    <li class="header-nav-item">
                        <a href="#" class="header-nav-link" title="Véhicules">Véhicules</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="#" class="header-nav-link" title="Achat">Achat</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="#" class="header-nav-link" title="Financement">Financement</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="#" class="header-nav-link" title="Services">Services</a>
                    </li>                                     				
                    <li class="header-nav-item">
                        <a href="./configurateur.html" class="header-nav-link" title="Configurateur">Configurateur</a>
                    </li>                                     				
                </ul>
             </nav><!-- eof .header-nav -->	
		</div><!-- eof .row -->	
	</header><!-- eof .header -->

    <article class="presentation contact-presentation">
        <div class="row justify-end">
            <h2 class="title">Votre concession Ford à Limoges</h2>
            <p class="presentation-text">Soufflé marzipan soufflé biscuit caramels candy canes. Marshmallow marzipan wafer gummies cupcake powder bonbon macaroon. Tootsie roll candy croissant shortbread halvah macaroon cheesecake gummies.</p>

            <p class="presentation-text">Muffin brownie candy canes cheesecake jujubes donut gingerbread. Sesame snaps lollipop danish sweet roll halvah chocolate topping. Pie candy canes marshmallow gummies fruitcake brownie brownie. Cake chocolate cake sweet caramels oat cake.</p>

        </div><!-- eof .row -->	
    </article><!-- eof .presentation -->
    
    <div class="row">
        <ul class="column breadcrumb">
            <li class="breadcrumb-item">
                <a class="breadcrumb-link" href="../index.html" title="Page d'accueil">Accueil</a>
            </li>
            <li class="breadcrumb-item">
                <span class="breadcrumb-current" title="Configurateur">Configurateur</span>
            </li>
        </ul>
    </div>
    
    <section class="contact-infos">        
        
        <div class="row contact-elements">
            <div class="column column-4">
                <address>
                    <p class="contact-suptitle">Concession FORD Limoges</p>
                    <p class="contact-address-text">Rue de limoges<br>87000 Limoges<br>France
                    </p>
                </address>
                <a class="contact-link" href="#" title="Venez nous voir">S'y rendre</a>
            </div>
            
            <div class="column column-5">
                <p class="contact-suptitle">Horaires du magasin</p>
                <div class="row justify-content-between">
                    <p class="column">Lundi</p><p class="column">Fermé</p><p class="column">14:00 - 18:00</p>
                </div>
                <div class="row justify-content-between">
                    <p class="column">Mardi</p><p class="column">08:00 - 12:30</p><p class="column">13:30 - 18:30</p>
                </div>
                <div class="row justify-content-between">
                    <p class="column">Mercredi</p><p class="column">08:00 - 12:30</p><p class="column">13:30 - 18:30</p>
                </div>
                <div class="row justify-content-between">
                    <p class="column">Jeudi</p><p class="column">08:00 - 12:30</p><p class="column">13:30 - 18:30</p>
                </div>
                <div class="row justify-content-between">
                    <p class="column">Vendredi</p><p class="column">08:00 - 12:30</p><p class="column">13:30 - 18:30</p>
                </div>                
                <div class="row justify-content-between">
                    <p class="column">Samedi</p><p class="column">08:00 - 12:30</p><p class="column">13:30 - 18:30</p>
                </div>
                <div class="row justify-content-between">
                    <p class="column">Dimanche</p><p class="column">Fermé</p><p class="column">Fermé</p>
                </div>
                
            </div>
            
            <div class="column column-3">
                <p class="contact-suptitle">Contact</p>
                <p class="contact-links">
                    <a class="contact-link" href="#rdv" title="Prenez rendez-vous">Prendre rdv</a>
                    <a class="contact-link" href="#" target="_blank" title="Retrouvez-nous sur facebook">Facebook</a>
                    <a class="contact-link" href="tel:0555000000" title="Appelez-nous">Appelez-nous</a>
                
                </p>                
            </div>            
        </div>

    </section><!-- eof .contact-infos -->
    
    <section class="contact-services">
        <div class="presentation services-presentation">
            <div class="row justify-end">
                <h2 class="title">Les services de votre concession</h2>
                <p class="presentation-text">Soufflé marzipan soufflé biscuit caramels candy canes. Marshmallow marzipan wafer gummies cupcake powder bonbon macaroon. Tootsie roll candy croissant shortbread halvah macaroon cheesecake gummies</p>
             </div><!-- eof .row -->	
        </div><!-- eof .presentation.presentation-contact -->
        
        <div class="row justify-content-center">
            <div class="contact-services-link">
                <p class="contact-services-title">Matériel</p>
                <p class="contact-services-text">
                    <a href="#" title="Matériel">Trouvez tous les accessoires et pièces détachées</a></p>
            </div>

            <div class="contact-services-link">
                <p class="contact-services-title">Equipe</p>
                <p class="contact-services-text">
                    <a href="#" title="Equipe">Une équipe d'experts pour vous conseiller</a></p>
            </div>

            <div class="contact-services-link">
                <p class="contact-services-title">Essais</p>
                <p class="contact-services-text">
                    <a href="#" title="Essais">Réservez un essai gratuit auprès de nos équipes</a></p>
            </div>
        </div>
    </section><!-- eof .contact-services -->		
 
    <section class="contact-form" id="rdv">
        <div class="presentation form-presentation">
            <div class="row justify-end">
                <h2 class="title">Prendre rendez-vous</h2>
                <p class="presentation-text">Soufflé marzipan soufflé biscuit caramels candy canes. </p>
             </div><!-- eof .row -->	
        </div><!-- eof .presentation.presentation-contact -->
        
        <form action="#" method="post" class="row justify-content-between">
            
            <fieldset>
                <legend>Vos coordonnées</legend>
                    <label for="contact-name">Votre nom/prénom</label> 
                    <input name="contact-name" id="contact-name" type="text" required>

                    <label for="contact-mail">Votre mail</label> 
                    <input name="contact-mail" id="contact-mail" type="mail" placeholder="votremail@mail.com" required>

                    <label for="contact-phone">Votre téléphone</label> 
                    <input name="contact-phone" id="contact-phone" type="tel" placeholder="0555000000" required>
            </fieldset>
            
            <fieldset>
                <legend>Votre demande</legend>
                <label for="contact-subject">Sujet</label> 
                <select name="contact-subject" id="contact-subject">
                    <option value="rdv">Prendre un rendez-vous</option>
                    <option value="infos">Demandez d'informations</option>
                    <option value="others">Autres</option>
                </select>
                 
                <label for="contact-text">Votre message</label> 
                <textarea name="contact-text" id="contact-text" placeholder="Saisissez votre message" rows="10" required></textarea>
                 
            </fieldset>
            
             <input class="button" type="submit" value="Envoyer ma demande" name="submit">
             
        </form>        
        
    </section><!-- eof .contact-form -->		
    
    
    <section class="news-list">
        <div class="presentation news-presentation">
            <div class="row justify-end">
                <h2 class="title">Actualités &amp; événements</h2>
                <p class="presentation-text">Suivez toute l'actualité de Ford</p>
                <a href="#" class="button">Toute l'actualité</a>

             </div><!-- eof .row -->	
        </div><!-- eof .presentation.presentation-contact -->
        
        <div class="row">
            <div class="column column-4">
                <article class="news">
                    <header class="news-header">
                        <img src="../assets/images/news/joyeuses-fetes.jpg" alt="titre image">                
                        <span class="news-date">20<br>Déc.</span>
                    </header>
                    <div class="news-content">
                        <h3 class="news-title">Ford vous souhaite de joyeuses fêtes de fin d'année</h3>
                        <a class="button" href="#" tile="Lire l'actualité">Lire l'actualité</a>
                    </div>                    
                </article>        
            </div>
            <div class="column column-4">
                <article class="news">
                    <header class="news-header">
                        <img src="../assets/images/news/ford-focus.jpg" alt="titre image">                
                        <span class="news-date">10<br>Déc.</span>
                    </header>
                    <div class="news-content">
                        <h3 class="news-title">Sortie de la nouvelle Ford Focus</h3>
                        <a class="button" href="#" tile="Lire l'actualité">Lire l'actualité</a>
                    </div>                    
                </article>        
            </div>
            <div class="column column-4">
                <article class="news">
                    <header class="news-header">
                        <img src="../assets/images/news/wolrd.jpg" alt="titre image">                
                        <span class="news-date">04<br>Déc.</span>
                    </header>
                    <div class="news-content">
                        <h3 class="news-title">Les 7 nouveaux véhicules connectés qui ouvrent la voie à un avenir 100% électrique en europe pour Ford</h3>
                        <a class="button" href="#" tile="Lire l'actualité">Lire l'actualité</a>
                    </div>                    
                </article>        
            </div>
        
        </div>
    </section><!-- eof .news -->
    
    <section class="contact-newsletter">
        <div class="row">
            <div class="column column-6 contact-newsletter-container">
                <h2 class="title">Recevez nos offres spéciales</h2>
                <p class="suptitle">Et restez informé(e) de nos dernières nouveautés.</p>
                <form method="post" action="#">
                    <label for="form-nl-mail">E-mail</label>
                    <input type="mail" id="form-nl-mail" name="mail" required placeholder="Saisissez votre e-mail">
                    <input class="button" type="submit" value="M'inscrire" name="submit">   
                </form>
            </div>
            <div class="column column-6">
                <h3 class="slogan">Ford<br>Go further</h3>
            </div>
        </div>
    </section><!-- eof .contact-newsletter -->
    
    
    
    
	<!-- Footer -->	
	<footer class="footer">
		<nav class="row" id="footer-sitemap">
            
            <div class="column column-3">
                <h3 class="footer-sitemap-title">Véhicules</h3>                
                <ul class="footer-sitemap-list">
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Véhicules Particuliers">Véhicules Particuliers</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Utilitaires">Utilitaires</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Citadines">Citadines</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Hybride et électrique">Hybride et électrique</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Familiales et Ludospaces">Familiales et Ludospaces</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Monospaces">Monospaces</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Performance">Performance</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="SUV">SUV</a>
                    </li>
                </ul>
            </div><!-- eof .column -->

            <div class="column column-3">
                <h3 class="footer-sitemap-title">Découvrez Ford</h3>                
                <ul class="footer-sitemap-list">
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="À propos de Ford">À propos de Ford</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="./contact.html" title="À propos de Ford">Concession Limoges</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="L’actualité Ford">L’actualité Ford</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Nous rejoindre">Nous rejoindre</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Développement durable">Développement durable</a>
                    </li>
                </ul>
            </div><!-- eof .column -->
            
            
            <div class="column column-6">
                <h3 class="footer-sitemap-title">Véhicules</h3>                
                <ul class="footer-sitemap-list">
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="EcoSport">EcoSport</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Puma">Puma</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Focus">Focus</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Kuga">Kuga</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Mustang Mach-E">Mustang Mach-E</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Explorer">Explorer</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Mustang">Mustang</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Puma ST">Puma ST</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Focus ST">Focus ST</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Ford GT">Ford GT</a>
                    </li>
                    <li class="footer-sitemap-item">
                        <a class="footer-sitemap-link" href="#" title="Tourneo Connect">Tourneo Connect</a>
                    </li>
                </ul>
            </div><!-- eof .column -->
        </nav><!-- eof .row -->		 
	</footer><!-- eof .footer -->		
</body>
</html>